.courseTable {
	margin-top:10px;padding:0px;
	width:80%;
	/*border:1px solid #000000;*/
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;

	table-layout:fixed; 
	overflow: hidden;

}.courseTable table{
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.courseTable tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.courseTable table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.courseTable table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.courseTable tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.courseTable tr:hover td{
	
}
.courseTable tr:nth-child(odd){ background-color:#cccccc; }
.courseTable tr:nth-child(even)    { background-color:#ffffff; }
.courseTable td{
	vertical-align:middle;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:0.5em;
	font-size:1em;
	font-family:arial;
	font-weight:normal;
	color:#000000;
}
.courseTable td #repeat{
	vertical-align:middle;
	/*border:1px solid #000000;
	border-width:0px 1px 1px 0px;*/
	text-align:left;
	padding:0.5em;
	font-size:1em;
	font-family:arial;
	font-weight:normal;
	color:#000000;
}.courseTable tr:last-child td{
	border-width:0px 1px 0px 0px;
}.courseTable tr td:last-child{
	border-width:0px 0px 1px 0px;
}.courseTable tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.courseTable tr:first-child td{
		background:-o-linear-gradient(bottom, #003c7d 5%, #003c7d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003c7d), color-stop(1, #003c7d) );
	background:-moz-linear-gradient( center top, #003c7d 5%, #003c7d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003c7d", endColorstr="#003c7d");	background: -o-linear-gradient(top,#003c7d,003c7d);

	background-color:#003c7d;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.courseTable tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #003c7d 5%, #003c7d 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #003c7d), color-stop(1, #003c7d) );
	background:-moz-linear-gradient( center top, #003c7d 5%, #003c7d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#003c7d", endColorstr="#003c7d");	background: -o-linear-gradient(top,#003c7d,003c7d);

	background-color:#003c7d;
}
.courseTable tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.courseTable tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}